html {
    height: 100%; 
}
body {
    font-family: Arial,Apple LiGothic Medium,Heiti TC,Microsoft JhengHei,sans-serif;
    background-image:url(../images/f05.png),
                     url(../images/f06.png);
    background-repeat:no-repeat,
                      no-repeat;
    background-attachment:fixed,
                          fixed;
    background-position: 100% 60px,
                        0% 100%;
}
p{
    color:#565656;
}
a{
    text-decoration: none;
    color: #565656;
}
a:hover{
  /*  text-decoration: underline; */
    border-bottom: 1px #565656;
}
a:visited{
    color: #565656;
}
a:link{
    color:#565656;
}
a:active{
    color:#654646;
}
#header{
    background-color:#F0F0F0;
    position: fixed;
    z-index: 999;
    top:0;
    width:100%;
    
}
#header a{
    vertical-align:middle;
}
#header img{
    width:300px;
    opacity: 0.8;
}
#header img:hover{
    opacity: 1;
}
#tittle_link{
    display: block;
    float: right;
    line-height: 60px;
    letter-spacing: 3px;
    /*transition: all 2s;*/
    
}
#tittle_link a{
    margin-right: 5px;
    transition: all 0.5s;
}
#tittle_link a:hover{
    text-decoration: none;
    position: relative;
    top: 2px;
    color:#cd5c5c;
}
#tittle_link a::after{
    content: " |"
}

#tittle_menu{
    display: none;
}
/* menu變化

#tittle_menu {
    display: none;
    cursor: pointer;
    float: right;
    margin:13px 10px 0px 0px;
    padding-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #565656;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

menu變化結束*/

#content .con_tittle{
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #565656;
    margin-top: 80px;
}
#footer{
/*    position: fixed;
    left: 0;
    bottom: 0;*/
    width:100%;
    line-height: 100px;
    background-color: #f0f0f0;
    opacity:0.7;
}
#footer p{
    text-align: center;
    color: #565656;
    font-size: 14px;
}