/* 手機RWD */
@media screen and (max-width:767px){
    body{
        background-size: 30%,30%;
    }
    
    #tittle_link{
        display: none;
        float: none;
        text-align: center;
        opacity: 1;
    }
    #tittle_menu{
        display: block;
    }
    #tittle_link a{
        display: block;
        font-size: 22px;
    }
    #tittle_link a::after{
        content: " "
    }
    .sticker{
        width:200px;
        margin: 0 auto;
    }
    .sticker img{
        filter: grayscale(0%);
        width: 170px;
    }
    .s1,.s2,.s3{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .s1:hover,.s2:hover,.s3:hover,.icon div:hover{
        box-shadow: none;
    }
    .icon{
        width:340px;
    }
    .ic1,.ic2,.ic3,.ic4,.ic5,.ic6,.ic7,.ic8,.ic9,.ic10,.ic11,.ic12,.ic13,.ic14,.ic15,.ic16{
        width: 150px;
        height:150px;
    }
    .video{
        width:80%;
        margin: 0 auto;
    }
 /*   .v1,.v2{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 10px 0px;
    }
    
    .v1 iframe,.v2 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;        
    }*/

/* sticker rwd */
    .sticker_tit{
        width: 320px;
    }
    .sticker_p{
        text-align: left;
        line-height: 26px;
        margin-left: 8px;
    }
    #sticker_momo,#sticker_chicken,#sticker_newyear{
        width: 320px;
    }
    .momo img:hover,.chicken img:hover,.newyear img:hover{
        width: 150px;
        padding: 0px;
    }
    .momo img,.chicken img,.newyear img{
        width:110px;
        padding:20px;
    }
/* icon rwd */
    .icon_ex img{
        width: 90%;
    }
    .icon_ex p{
        width: 80%;
        text-align: left;
    }
/* video rwd */
    .t2{
        font-size: 16px;
    }
    .video_ex{
        text-align: left;
        font-size: 16px;
    }
}