/* 手機RWD */
@media screen and (max-width:767px){

    #tittle_link{
        display: none;
        float: none;
        text-align: center;
    }
    #tittle_small{
        display: block;
    }
    #tittle_link a{
        display: block;
    }
    #tittle_link a::after{
        content: " "
    }
    .sticker{
        width:200px;
        margin: 0 auto;
    }
    .sticker img{
        filter: grayscale(0%);
    }
    .s1,.s2,.s3{
        margin-right: 0px;
    }
    .icon{
        width:340px;
    }
    .ic1,.ic2,.ic3,.ic4,.ic5,.ic6,.ic7,.ic8,.ic9,.ic10,.ic11,.ic12,.ic13,.ic14,.ic15,.ic16{
        width: 150px;
        height:150px;
    }
    .video{
        width:80%;
        margin: 0 auto;
    }
 /*   .v1,.v2{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 10px 0px;
    }
    
    .v1 iframe,.v2 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;        
    }*/

/* icon rwd*/
    .icon_ex img{
        width: 90%;
    }
    .icon_ex p{
        width: 80%;
        text-align: left;
    }


}