/* 手機RWD */
@media screen and (max-width:767px){

    #tittle_link{
        display: none;
    }
    #tittle_small{
        display: block;
    }
    
    .video{
        width:80%;
        margin: 0 auto;
    }
    .v1,.v2{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 10px 30px;
    }
    
    .v1 iframe,.v2 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;        
    }
}