.sticker_tit{
    width: 600px;
    margin: 0 auto;
    height: 101px;
}
.st{
    float: left;
}
.sticker_tit img{
    border: 1px #565656 dashed;
    width: 80px;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px;
}
.sticker_tit img:hover{
    background-color: #bfe3ce;
    position: relative;
    top:1px;
    cursor: pointer; 
}
.sticker_money{
    color: #00b84f;
    font-size: 20px;
    margin-right: 20px;    
}
.sticker_link{
   
}
.buy{
    text-align: center;
    margin: 15px auto;
    padding: 5px;
    background-color: #00b84f;
    color: white;
    width: 100px;
    font-weight: bold;
}
.buy:hover{
    position: relative;
    top:1px;
}
.sticker_p{
    width: 100%;
    text-align: center;
}

#sticker_momo,#sticker_chicken,#sticker_newyear{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    border: 1px #565656 dashed;
    border-radius: 10px;
}
#sticker_chicken,#sticker_newyear{
    display: none;
}
.momo img,.chicken img,.newyear img{
    width: 150px;
    opacity: 0.7;
}
.momo img:hover,.chicken img:hover,.newyear img:hover{
    opacity: 1;
}